#logo {
	font-size: 1.5em;
	font-weight: 700;
	color: #fff;
}

#logo span {
	font-weight: 300;
}

#banner {
	background: url("../images/coffee-machine.jpg") no-repeat;
	background-size: cover;
}

#banner:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

#content h1 {
	font-size: 3.5em;
}

#content h2 {
	font-size: 1.5em;
}

.level .card + .card {
	margin-left: 20px;
}

.pricing .pricing-type {
	text-transform: uppercase;
}

.pricing .pricing-price {
	font-size: 2.5em;
}

.pricing img {
	width: 40px;
}

.card-highlight {
	padding: 1.5em;
}

.card-highlight .button {
	padding: 1.2em;
}

h1 {
	font-size: 2.5em;
	margin-bottom: 1.5em;
}